@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Poppins", sans-serif;
}
:root {
    --primary: #a01f62;
    --sec: #d39103;
}

/* Home Section Start */
.home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../src/assets/bannerTech.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home .content {
    text-align: center;
}
.home .content h5 {
    color: white;
    font-size: 20px;
    font-weight: 550;
    text-shadow: 0px 1px 1px rgb(0, 0, 0);
}
.home .content h1 {
    color: white;
    font-size: 70px;
    font-weight: 500;

    margin-top: 5px;
}
.changecontent::after {
    content: " ";
    color: var(--primary);
    text-shadow: 0px 1px 1px rgb(249, 249, 246);
    animation: changetext 10s infinite linear;
}
@keyframes changetext {
    0% {
        content: "Web Design";
    }

    20% {
        content: " Graphics Design";
    }

    40% {
        content: "App Development";
    }

    60% {
        content: "Web Development";
    }

    80% {
        content: "Seo Management";
    }

    100% {
        content: "Digital Marketing";
    }
}

@media (max-width: 850px) {
    .home {
        background-position: 50%;
    }
}
@media (max-width: 450px) {
    .home .content h5 {
        font-size: 25px;
    }
    .home .content h1 {
        font-size: 38px;
    }
    .home .content p {
        font-size: 13px;
    }
}
/* Home Section End */

.hover-border-b {
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
}

.hover-border-b:hover {
    border-color: var(#df2e38);
}
